[Desktop Entry]
Encoding=UTF-8
Name=advert-block
Exec=gksu block-advert.sh
Icon=advert-block
Terminal=false
Type=Application
Categories=Settings;
NoDisplay=true