[Desktop Entry]
Encoding=UTF-8
Name=advert-block
Name[am]=ማስታወቂያ መከልከያ
Name[ca]=Advert-block
Name[de]=advert-block 
Name[el]=Advert Block
Name[es]=Bloquear-propaganda
Name[fr]=Stop Pub
Name[it]=Blocco della pubblicità
Name[nl]=advertentie-block
Name[pt]=Bloquear publicidade
Name[sv]=annonsblockerare
Comment=Block adverts via /etc/hosts file
Comment[am]=ማስታወቂያ መከልከያ በ /etc/hosts file
Comment[ca]=Bloqueja publicitat amb el fitxer /etc/hosts
Comment[de]=Blockiert Werbung über die Datei /etc/hosts
Comment[el]=Αποκλεισμός διαφημίσεις μέσω αρχείο /etc/hosts
Comment[es]=Bloquear-propaganda via el /etc/hosts
Comment[fr]=Bloque les publicités via le fichier /etc/hosts
Comment[it]=Blocca la pubblicità mediante il file /etc/hosts
Comment[nl]=Blokkeer advertenties middels /etc/hosts bestand
Comment[pt]=Bloqueia publicidade via ficheiro /etc/hosts
Comment[sv]=Blockera annonser via /etc/hosts fil
Exec=gksu block-advert.sh
Icon=advert-block
Terminal=false
Type=Application
Categories=Settings;
NoDisplay=False
